mixin modal()
	+b.modals
		+b.modal.modal__location(id="modal-location" role="dialog")&attributes(attributes)
			.modal__dialog
				h3.modal__title Москва
				form.modal__form
					span.modal__text Вы сейчас в этом городе?
					div.modal__wrapper
						button.button.button--contrast(type="submit") Да
						select#choose-city.select2(name="choose-city")
							option(value="Нет, выбрать...", disabled, selected) Нет, выбрать...
							option(value="Москва") Москва
							option(value="Санкт-Петербург") Санкт-Петербург
		+b.modal.modal__default(id="modal-call-back" role="dialog")&attributes(attributes)
			.modal__dialog
				button.close
				h3.modal__title.call-back-icon Обратный звонок
				.modal__body
					p.modal__text Оставьте Ваши контактные данные и вопрос, который Вас интересует. Наш менеджер свяжется с Вами в самое ближайшее время.
					form.modal__form
						div.modal__wrapper
							label.modal__label(for="modal-user-name") Имя:
								input.modal__input(type="text" name="name" id="modal-user-name")
							label.modal__label(for="modal-user-tel") Телефон:
								input.modal__input(type="tel" name="tel" id="modal-user-tel")
						div.modal__wrapper
							textarea.modal__textarea(placeholder="Сообщение..." rows="5")
						div.modal__wrapper
							input.modal__agree(type="checkbox" id="modal-agree-term" hidden)
							label.modal__checkbox(for="modal-agree-term") Я согласен на обработку персональных данных
							button.button.button--contrast.button--contrast--white-border(type="submit") Заказать
		+b.modal.modal__default(id="modal-leave-comment" role="dialog")&attributes(attributes)
			.modal__dialog
				button.close
				h3.modal__title.comments-icon Ваш комментарий
				.modal__body
					form.modal__form
						div.modal__wrapper
							label.modal__label(for="modal-comment-name") Имя:
								input.modal__input(type="text" name="name" id="modal-comment-name")
							label.modal__label(for="modal-comment-email") Email:
								input.modal__input(type="email" name="email" id="modal-comment-email")
						div.modal__wrapper
							textarea.modal__textarea(placeholder="Текст комментария..." rows="5")
						div.modal__wrapper
							button.button.button--contrast.button--contrast--white-border(type="submit") Отправить