include ../../button/button

mixin header__search()
	+b.header__search&attributes(attributes)
		.container
			.header__search--wrapper
				form.search(action="")
					label.search__label(for="search") Поиск по сайту:
					.search__input--wrapper
						input.search__input(type="search" id="search" placeholder="Оформление СРО")
						+button("submit", "")&attributes({ "class": "button--search" })
					+button("submit", "Найти")&attributes({ "class": "button--contrast" })
