.header__top
	display: block
	background-color: header_blue_color
	color: white
	height: 65px
	&--wrapper
		display: flex
		flex-flow: row wrap
		align-items: center
		justify-content: flex-end
		position: relative
		height: 100%
		background: linear-gradient(45deg, rgba(24, 54, 76, 1) 0, header_blue_color 160px, header_blue_color 100%)		
	& .location
		display: flex
		justify-content: flex-end
		align-items: center
		position: absolute
		top: 0
		left: calc(-3000px + 135px)
		width: 3000px
		height: calc(100% + 7px)
		padding-right: 20px
		background-color: footer_bg_color
		&::after
			content: ''
			position: absolute
			top: 0
			right: -72px
			width: 0
			height: 0
			border-style: solid
			border-width: 72px 0 0 72px
			border-color: transparent transparent transparent footer_bg_color
		&__icon
			display: inline-block
			margin: 1em
			sprite: $location
			opacity: .8
			order: 1
		&__link
			color: white
			text-decoration: none
			order: 2
			&:hover,
			&:focus
				text-decoration: underline
				& ~ .location__icon
					opacity: 1
	& .nav
		display: flex
		flex-direction: row
		flex-wrap: wrap
		align-items: center
		margin-left: 200px
		height: 100%
		&__item
			display: flex
			align-items: center
			height: inherit
			white-space: nowrap
			background-color: transparent
			margin: 0 5px
			&--long
				white-space: initial
			&:hover
				background-color: footer_bg_color
				& .nav__link::after
					transform: rotate(180deg)
		&__link
			display: flex
			align-items: center
			height: 100%
			padding: 15px
			color: white
			text-decoration: none
			text-transform: uppercase
			font-weight: bold
			user-select: none
		& > .hasDropdown
			position: relative
			& > .nav__link::after
				content: ''
				min-width: 11px
				sprite: $arrow_dropdown
				margin-left: 5px
			&:hover
				& > .dropdown
					display: block
			& .dropdown
				display: none
				position: absolute
				width: 100%
				left: 0
				top: 100%
				background-color: footer_bg_color
				z-index: 99
				&__item
					padding: 15px 20px
					border-bottom: 1px solid border_blue_color
				&__link
					color: white
					text-decoration: none
				&__link:hover,
				&__link:focus,
				&__link.active
					font-weight: bold