@media (max-width: 1170px)
	.header__top .location
		height: 100%
	.header__top .location::after
		content: none
	.header__top--wrapper
		height: auto
		background: header_blue_color
	.consult
		flex-direction: column
		align-items: center
	.consult__icon,
	.consult__text
		margin-right: 0
		margin-bottom: 20px
		text-align: center
	.consult__form
		margin-top: 0

@media (max-width: 1140px)
	.menu__list
		flex-direction: column
	.menu__item
		margin-bottom: 2px
		&:not(:first-child)
			margin-left: 0
		&:last-child
			margin-bottom: 0
	.menu__item.hasDropdown
		&:hover,
		&:focus
			border-left: 2px solid white
			border-right: 2px solid white
	.menu__item.hasDropdown::after
		content: none
	.menu__item .dropdown
		position: absolute
		width: calc(100% + 4px)
		left: -2px
		border-left: 2px solid white
		border-right: 2px solid white
		border-bottom: 2px solid white
		
@media (max-width: 1085px)
	.footer__bottom--right
		background: brand_blue_color
	.footer__bottom--left::after
		content: none


@media (max-width: 1000px)
	.header__top--wrapper
		height: auto

@media (max-width: 900px)
	.slider.single-item
		display: none
	.promo
		margin-top: 40px
	.seporator
		display: none
	.section__header
		display: none
	.services,
	.news
		width: 100%
	.calc
		background-image: none
		background-color: #CEE8FA
	.footer__bottom--right
		justify-content: flex-start
		margin-top: 10px
		margin-bottom: 10px

@media (max-width: 700px)
	.header__middle
		padding: 10px 0
	.header__middle--wrapper
		flex-direction: column
		justify-content: center
		padding: 0
	.logo
		margin: 10px 20px
	.header__middle--wrapper .group
		justify-content: center
		margin: 0 auto
	.header__search .search .button--contrast
		display: none
	.calc
		flex-direction: column
		padding: 20px
	.calc__icon
		margin-right: 0
		margin-bottom: 20px
	.calc .button
		margin-right: 0
		margin-bottom: 20px
	.calc__text
		text-align: center
	.modals .modal__call-back .modal__dialog
		padding: 30px
	.modals .modal__call-back .modal__title
		padding-left: 80px
		margin-bottom: 10px
	.modals .modal__call-back .modal__title::before
		left: 0
	.modals .modal__call-back .modal__text,
	.modals .modal__call-back .modal__form .modal__wrapper,
		margin-bottom: 10px
	.modals .modal__call-back .modal__form .modal__label:last-child
		margin-bottom: 0
	body .modals .modal__call-back .modal__form .modal__checkbox
		margin-bottom: 20px
		max-height: 568px
@media (max-width: 600px)
	.header__top .container
		width: 100%
		padding: 0
	.container
		width: 100%
		padding: 0 10px
	.header__top--wrapper
		flex-direction: column
	.header__top .location
		position: relative
		justify-content: center
		padding-right: 0
		width: 100%
		left: 0
	.header__top .nav
		flex-direction: column
		flex-wrap: nowrap
		margin-left: 0
	.header__top .nav__link
		text-align: center
	.header__top .nav__item:not(:first-child)
		margin-left: 0
	.header__search .search
		width: 100%
	.modals .modal__location .modal__dialog
		width: auto
	.promo
		position: relative
		flex-direction: column
		align-items: center
		width: calc(100% + 20px)
		padding: 0
		top: -40px
		left: -10px
	.consult__form > div
		flex-direction: column
	.consult__label:first-child
		margin-right: 0
	.consult__label:last-child
		margin-left: 0
		margin-top: 30px
	.consult__checkbox
		margin-bottom: 30px
	.footer__bottom--wrapper
		padding: 20px 10px
		text-align: center
	.footer__bottom--left
		width: 100%
		flex-direction: column
	.footer__bottom--right
		justify-content: center
	.modals .modal__call-back .modal__dialog
		padding: 10px
	.modals .modal__call-back .modal__form .modal__wrapper
		flex-direction: column
	.modals .modal__call-back .modal__form .modal__label:first-child
		margin-right: 0
		margin-bottom: 20px
	.modals .modal__call-back .modal__form .modal__label:last-child
		margin-left: 0
		margin-bottom: 10px
	.modals .modal__call-back .modal__form .modal__checkbox
		margin-bottom: 40px

@media (max-width: 400px)
	.header__search .search__label
		margin: 20px 0 0
	.header__search .search
		flex-direction: column
		justify-content: center
	.services__header .title
		padding-left: 90px
	.services__header .title::before
		top: 5px
		left: 15px
	.news__body,
	.services__body
		flex-direction: column
		align-items: center