footer_bg_color = #366294
brand_blue_color = #367CAE
header_blue_color = #2D527C
border_blue_color = #2F5682
dark_blue_color = #00264B 
light_blue_color = #BCE0FA
light_blue_color2 = #CEE8FA
grey_color = #777E7C
grey_border_color = #D4D6D6
light_grey_color= #F6F6F6
dots_grey_color = #F2F3F4
white = #FFFFFF