extends /blocks/layout-default/layout-default
include /blocks/breadcrumbs/breadcrumbs
include /blocks/banks/banks
include /blocks/consult/consult
include /blocks/slider/slider
include /blocks/articles/articles
include /blocks/comments/comments

block head
	- var pageTitle = 'СРО';

block content
	+breadcrumbs(['Главная', 'СРО'])
	+section('default')
		+container
			.section--header
				h1.section__title СРО
				aside.aside
					.calc-icon
					button.button.button--calc Рассчитать стоимость СРО
			+banks
				.banks--wrapper
					.banks--left
						menu.banks__menu.menu
							ul.menu__list
								li.menu__item
									a.menu__link(href="#0") Получение
								li.menu__item
									a.menu__link(href="#0") Оформление
								li.menu__item
									a.menu__link(href="#0") Расчет стоимости
								li.menu__item
									a.menu__link(href="#0") Банки партнеры
						aside.banks__extra.extra
							ul.extra__list
								li.extra__item
									a.extra__link.faq(href="#0") FAQ
								li.extra__item
									a.extra__link.documents(href="#0") Документы
					.banks--right
						.banks__content
							p Из основ экономической теории известно: чем выше спрос, тем больше предложение. Банковское обеспечение попадает под такой закон. Большой спрос на нее у организаций, приводит к увеличению количества банков, предоставляющих БГ и фирм, предоставляющих услуг по ее оформлению и сопровождению.
							p Государственный заказчик истребует у исполнителя документ, подтверждающий его способность выполнить обязательства и гарантирующий его финансовую устойчивость. Выдавая обязательства, банк несет определенные риски. Это компенсируется высокими комиссиями.
							p Из основ экономической теории известно: чем выше спрос, тем больше предложение. Банковское обеспечение попадает под такой закон. Большой спрос на нее у организаций, приводит к увеличению количества банков, предоставляющих БГ и фирм, предоставляющих услуг по ее оформлению и сопровождению. Государственный заказчик истребует у исполнителя документ, подтверждающий его способность выполнить обязательства и гарантирующий его финансовую устойчивость. Выдавая обязательства, банк несет определенные риски. Это компенсируется высокими комиссиями.
							p Из основ экономической теории известно: чем выше спрос, тем больше предложение. Банковское обеспечение попадает под такой закон. Большой спрос на нее у организаций, приводит к увеличению количества банков, предоставляющих БГ и фирм, предоставляющих услуг по ее оформлению и сопровождению.
							p Государственный заказчик истребует у исполнителя документ, подтверждающий его способность выполнить обязательства и гарантирующий его финансовую устойчивость. Выдавая обязательства, банк несет определенные риски. Это компенсируется высокими комиссиями.
							p Из основ экономической теории известно: чем выше спрос, тем больше предложение. Банковское обеспечение попадает под такой закон. Большой спрос на нее у организаций, приводит к увеличению количества банков, предоставляющих БГ и фирм, предоставляющих услуг по ее оформлению и сопровождению.
							p Государственный заказчик истребует у исполнителя документ, подтверждающий его способность выполнить обязательства и гарантирующий его финансовую устойчивость. Выдавая обязательства, банк несет определенные риски. Это компенсируется высокими комиссиями. и гарантирующий его финансовую устойчивость. Выдавая обязательства, банк несет определенные риски. Это компенсируется высокими комиссиями.
	+section('s-consult')
		+container
			+consult
	+section('s-comments')
		+container
			.section--header
				h2.title.title--h2.title--comments
					| Комментарии
					span#comments-count.comments__count 50
				aside.aside
					+button('button', 'Оставить комментарий')&attributes( { "data-href": "#modal-leave-comment", "data-link": "modal" }).button--contrast
			+comments
				.comments--wrapper
					.comments__item.item
						.item__header
							span.item__user Екатерина Басова
							.item__line
							time.item__time 20 июля 2017
						.item__body
							p.item__text Оборудование EKF бесперебойно работает на многих знаковых промышленных и энергетических объектах страны, в числе которых Челябинский трубопрокатный завод, Михайловский ГОК, ПО «Корпус», завод «Кристалл», Оборудование EKF бесперебойно работает на многих знаковых промышленных и энергетических объектах страны, в числе которых Челябинский трубопрокатный завод, Михайловский ГОК, ПО «Корпус», завод «Кристалл».
					.comments__item.item
						.item__header
							span.item__user Екатерина Басова
							.item__line
							time.item__time 20 июля 2017
						.item__body
							p.item__text Оборудование EKF бесперебойно работает на многих знаковых промышленных и энергетических объектах страны, в числе которых Челябинский трубопрокатный завод, Михайловский ГОК, ПО «Корпус», завод «Кристалл», Оборудование EKF бесперебойно работает на многих знаковых промышленных и энергетических объектах страны. 
					.comments__item.item
						.item__header
							span.item__user Екатерина
							.item__line
							time.item__time 20 июля 2017
						.item__body
							p.item__text Оборудование EKF бесперебойно работает на многих знаковых промышленных и энергетических объектах страны, в числе которых Челябинский трубопрокатный завод, Михайловский ГОК, ПО «Корпус», завод «Кристалл», Оборудование EKF бесперебойно работает на многих знаковых промышленных и энергетических.
				.comments__btn
					button.button.button--comments Загрузить еще 10 комментариев
					