mixin menu()
	nav.menu&attributes(attributes)
		ul.menu__list
			li.menu__item
				a.menu__link(href="/") Главная
			li.menu__item.hasDropdown СРО
				.dropdown.js-mega-menu
					.container
						.dropdown--wrapper
							.group
								ul.dropdown__list
									li.dropdown__item.active
										a.dropdown__link(href="#0") Строительство
									li.dropdown__item
										a.dropdown__link(href="#0") Проектирование
									li.dropdown__item
										a.dropdown__link(href="#0") Экономика, бухгалтерия, госзакупки
									li.dropdown__item
										a.dropdown__link(href="#0") Педагогика
									li.dropdown__item
										a.dropdown__link(href="#0") Педагогика высшей школы
									li.dropdown__item
										a.dropdown__link(href="#0") Юриспруденция
									li.dropdown__item
										a.dropdown__link(href="#0") Охрана труда
							.group
								ul.dropdown__list
									li.dropdown__item
										a.dropdown__link(href="#0") Государственное и муниципальное управление
									li.dropdown__item
										a.dropdown__link(href="#0") Транспорт
									li.dropdown__item
										a.dropdown__link(href="#0") Кадровое делопроизводство
									li.dropdown__item
										a.dropdown__link(href="#0") Инженерные изыскания
									li.dropdown__item
										a.dropdown__link(href="#0") Геодезия, кадастр, маркшейдерские работы
									li.dropdown__item
										a.dropdown__link(href="#0") Горное дело
							.group
								ul.dropdown__list
									li.dropdown__item
										a.dropdown__link(href="#0") Здравохранение
									li.dropdown__item
										a.dropdown__link(href="#0") Нефтегазовая отрасль
									li.dropdown__item
										a.dropdown__link(href="#0") Теплоэнергетика
									li.dropdown__item
										a.dropdown__link(href="#0") Туризм
									li.dropdown__item
										a.dropdown__link(href="#0") Экология
									li.dropdown__item
										a.dropdown__link(href="#0") Стандартизация и метрология
									li.dropdown__item
										a.dropdown__link(href="#0") Эксплуатация
							.group
								ul.dropdown__list
									li.dropdown__item
										a.dropdown__link(href="#0") Промышленная безопасность
									li.dropdown__item
										a.dropdown__link(href="#0") Пожарная безопасность
									li.dropdown__item
										a.dropdown__link(href="#0") Гражданская оборона и чрезвычайные ситуации (ГО и ЧС)
									li.dropdown__item
										a.dropdown__link(href="#0") Безопасность
									li.dropdown__item
										a.dropdown__link(href="#0") Энергоаудит
			li.menu__item.hasDropdown Сертификаты ISO
				.dropdown.js-mega-menu
					.container
						.dropdown--wrapper
							.group
								ul.dropdown__list
									li.dropdown__item.active
										a.dropdown__link(href="#0") Строительство
									li.dropdown__item
										a.dropdown__link(href="#0") Проектирование
									li.dropdown__item
										a.dropdown__link(href="#0") Экономика, бухгалтерия, госзакупки
									li.dropdown__item
										a.dropdown__link(href="#0") Педагогика
									li.dropdown__item
										a.dropdown__link(href="#0") Педагогика высшей школы
									li.dropdown__item
										a.dropdown__link(href="#0") Юриспруденция
									li.dropdown__item
										a.dropdown__link(href="#0") Охрана труда
							.group
								ul.dropdown__list
									li.dropdown__item
										a.dropdown__link(href="#0") Государственное и муниципальное управление
									li.dropdown__item
										a.dropdown__link(href="#0") Транспорт
									li.dropdown__item
										a.dropdown__link(href="#0") Кадровое делопроизводство
									li.dropdown__item
										a.dropdown__link(href="#0") Инженерные изыскания
									li.dropdown__item
										a.dropdown__link(href="#0") Геодезия, кадастр, маркшейдерские работы
									li.dropdown__item
										a.dropdown__link(href="#0") Горное дело
							.group
								ul.dropdown__list
									li.dropdown__item
										a.dropdown__link(href="#0") Здравохранение
									li.dropdown__item
										a.dropdown__link(href="#0") Нефтегазовая отрасль
									li.dropdown__item
										a.dropdown__link(href="#0") Теплоэнергетика
									li.dropdown__item
										a.dropdown__link(href="#0") Туризм
									li.dropdown__item
										a.dropdown__link(href="#0") Экология
									li.dropdown__item
										a.dropdown__link(href="#0") Стандартизация и метрология
									li.dropdown__item
										a.dropdown__link(href="#0") Эксплуатация
							.group
								ul.dropdown__list
									li.dropdown__item
										a.dropdown__link(href="#0") Промышленная безопасность
									li.dropdown__item
										a.dropdown__link(href="#0") Пожарная безопасность
									li.dropdown__item
										a.dropdown__link(href="#0") Гражданская оборона и чрезвычайные ситуации (ГО и ЧС)
									li.dropdown__item
										a.dropdown__link(href="#0") Безопасность
									li.dropdown__item
										a.dropdown__link(href="#0") Энергоаудит
			li.menu__item.hasDropdown Лицензия МЧС
				.dropdown.js-mega-menu
					.container
						.dropdown--wrapper
							.group
								ul.dropdown__list
									li.dropdown__item.active
										a.dropdown__link(href="#0") Строительство
									li.dropdown__item
										a.dropdown__link(href="#0") Проектирование
									li.dropdown__item
										a.dropdown__link(href="#0") Экономика, бухгалтерия, госзакупки
									li.dropdown__item
										a.dropdown__link(href="#0") Педагогика
							.group
								ul.dropdown__list
									li.dropdown__item
										a.dropdown__link(href="#0") Государственное и муниципальное управление
									li.dropdown__item
										a.dropdown__link(href="#0") Транспорт
							.group
								ul.dropdown__list
									li.dropdown__item
										a.dropdown__link(href="#0") Здравохранение
									li.dropdown__item
										a.dropdown__link(href="#0") Нефтегазовая отрасль
									li.dropdown__item
										a.dropdown__link(href="#0") Теплоэнергетика
									li.dropdown__item
										a.dropdown__link(href="#0") Туризм
									li.dropdown__item
										a.dropdown__link(href="#0") Экология
							.group
								ul.dropdown__list
									li.dropdown__item
										a.dropdown__link(href="#0") Промышленная безопасность
									li.dropdown__item
										a.dropdown__link(href="#0") Пожарная безопасность
									li.dropdown__item
										a.dropdown__link(href="#0") Гражданская оборона и чрезвычайные ситуации (ГО и ЧС)
									li.dropdown__item
										a.dropdown__link(href="#0") Безопасность
									li.dropdown__item
										a.dropdown__link(href="#0") Энергоаудит
			li.menu__item.hasDropdown Повышение квалификации
				.dropdown.js-mega-menu
					.container
						.dropdown--wrapper
							.group
								ul.dropdown__list
									li.dropdown__item.active
										a.dropdown__link(href="#0") Строительство
									li.dropdown__item
										a.dropdown__link(href="#0") Проектирование
									li.dropdown__item
										a.dropdown__link(href="#0") Экономика, бухгалтерия, госзакупки
									li.dropdown__item
										a.dropdown__link(href="#0") Педагогика
									li.dropdown__item
										a.dropdown__link(href="#0") Педагогика высшей школы
									li.dropdown__item
										a.dropdown__link(href="#0") Юриспруденция
									li.dropdown__item
										a.dropdown__link(href="#0") Охрана труда
							.group
								ul.dropdown__list
									li.dropdown__item
										a.dropdown__link(href="#0") Государственное и муниципальное управление
									li.dropdown__item
										a.dropdown__link(href="#0") Транспорт
									li.dropdown__item
										a.dropdown__link(href="#0") Кадровое делопроизводство
									li.dropdown__item
										a.dropdown__link(href="#0") Инженерные изыскания
									li.dropdown__item
										a.dropdown__link(href="#0") Геодезия, кадастр, маркшейдерские работы
									li.dropdown__item
										a.dropdown__link(href="#0") Горное дело
							.group
								ul.dropdown__list
									li.dropdown__item
										a.dropdown__link(href="#0") Здравохранение
									li.dropdown__item
										a.dropdown__link(href="#0") Нефтегазовая отрасль
									li.dropdown__item
										a.dropdown__link(href="#0") Теплоэнергетика
									li.dropdown__item
										a.dropdown__link(href="#0") Туризм
									li.dropdown__item
										a.dropdown__link(href="#0") Экология
									li.dropdown__item
										a.dropdown__link(href="#0") Стандартизация и метрология
									li.dropdown__item
										a.dropdown__link(href="#0") Эксплуатация
							.group
								ul.dropdown__list
									li.dropdown__item
										a.dropdown__link(href="#0") Промышленная безопасность
									li.dropdown__item
										a.dropdown__link(href="#0") Пожарная безопасность
									li.dropdown__item
										a.dropdown__link(href="#0") Гражданская оборона и чрезвычайные ситуации (ГО и ЧС)
									li.dropdown__item
										a.dropdown__link(href="#0") Безопасность
									li.dropdown__item
										a.dropdown__link(href="#0") Энергоаудит
			li.menu__item.hasDropdown Сертификат соответствия
				.dropdown.js-mega-menu
					.container
						.dropdown--wrapper
							.group
								ul.dropdown__list
									li.dropdown__item.active
										a.dropdown__link(href="#0") Строительство
									li.dropdown__item
										a.dropdown__link(href="#0") Проектирование
									li.dropdown__item
										a.dropdown__link(href="#0") Экономика, бухгалтерия, госзакупки
									li.dropdown__item
										a.dropdown__link(href="#0") Педагогика
									li.dropdown__item
										a.dropdown__link(href="#0") Педагогика высшей школы
									li.dropdown__item
										a.dropdown__link(href="#0") Юриспруденция
									li.dropdown__item
										a.dropdown__link(href="#0") Охрана труда
			li.menu__item.hasDropdown Банковские гарантии
				.dropdown.js-mega-menu
					.container
						.dropdown--wrapper
							.group
								ul.dropdown__list
									li.dropdown__item.active
										a.dropdown__link(href="#0") Строительство
									li.dropdown__item
										a.dropdown__link(href="#0") Проектирование
									li.dropdown__item
										a.dropdown__link(href="#0") Экономика, бухгалтерия, госзакупки
									li.dropdown__item
										a.dropdown__link(href="#0") Педагогика
									li.dropdown__item
										a.dropdown__link(href="#0") Педагогика высшей школы
									li.dropdown__item
										a.dropdown__link(href="#0") Юриспруденция
									li.dropdown__item
										a.dropdown__link(href="#0") Охрана труда
							.group
								ul.dropdown__list
									li.dropdown__item
										a.dropdown__link(href="#0") Здравохранение
									li.dropdown__item
										a.dropdown__link(href="#0") Нефтегазовая отрасль
									li.dropdown__item
										a.dropdown__link(href="#0") Теплоэнергетика
									li.dropdown__item
										a.dropdown__link(href="#0") Туризм
									li.dropdown__item
										a.dropdown__link(href="#0") Экология
									li.dropdown__item
										a.dropdown__link(href="#0") Стандартизация и метрология
									li.dropdown__item
										a.dropdown__link(href="#0") Эксплуатация
