include ../../logo/logo
include ../../button/button

mixin header__middle()
	+b.header__middle&attributes(attributes)
		.container
			.header__middle--wrapper
				+logo
				.group
					.group__item
						.tel
							.icon
							.info
								span.info__title Телефон
								a.info__link(href="tel:+7 (999) 130-06-09") +7 (999) 130-06-09
					.group__item
						.mail
							.icon
							.info
								span.info__title E-mail
								a.info__link(href="mailto:Vasyapupkin@mail.ru") Vasyapupkin@mail.ru
					.group__item
						+button('button', 'Перезвоните мне')&attributes( { "data-href": "modal-call-back", "data-link": "modal" })
