.footer__nav
	display: block
	max-width: 200px
	margin: 20px 10px
	& .title
		min-height: 40px
		font-weight: bold
		font-size: 18px
		color: white
	& .nav
		margin: 18px 0
		&__item
			line-height: 1.2
			&:not(:first-child)
				margin-top: 18px
