mixin promo()
	+b.promo&attributes(attributes)
		.promo__item.green
			.promo__header
				h2.promo__title <span>СРО</span><span>строителей</span>
				.promo__icon
			.promo__body
				ul.promo__list
					li.promo__list__item
						a.promo__link(href="#0") Оформление допуска
					li.promo__list__item
						a.promo__link(href="#0") Необходимые документы
					li.promo__list__item
						a.promo__link(href="#0") Необходимые специалисты
		.promo__item.blue
			.promo__header
				h2.promo__title <span>СРО</span><span>проектировщиков</span>
				.promo__icon
			.promo__body
				ul.promo__list
					li.promo__list__item
						a.promo__link(href="#0") Оформление допуска
					li.promo__list__item
						a.promo__link(href="#0") Необходимые документы
					li.promo__list__item
						a.promo__link(href="#0") Необходимые специалисты
		.promo__item.purple
			.promo__header
				h2.promo__title <span>СРО</span><span>изыскателей</span>
				.promo__icon
			.promo__body
				ul.promo__list
					li.promo__list__item
						a.promo__link(href="#0") Оформление допуска
					li.promo__list__item
						a.promo__link(href="#0") Необходимые документы
					li.promo__list__item
						a.promo__link(href="#0") Необходимые специалисты
		
